future==0.18.3
customtkinter~=5.1.3
Pillow==11.1.0
keyboard~=0.13.5
gphoto2~=2.5.0
moviepy~=2.1.2
numpy>=1.24.0,<2.0.0
ffmpeg-python>=0.2.0
imageio>=2.34.1
imageio-ffmpeg>=0.6.0
opencv-python~=4.10.0.82
CTkMessagebox~=2.0
py3dns~=4.0.2
git+https://gitea.ksol.io/karolyi/py3-validate-email@v1.0.9
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

dnspython~=2.6.1
idna~=3.3, >=2.5
pip~=25.0
google~=3.0.0
Jinja2~=3.1.3
requests>=2.26.0
setuptools~=75.8.0
typing_extensions~=4.12.2
certifi~=2025.1.31
six~=1.17.0
imageio~=2.34.1
proglog~=0.1.10
tqdm~=4.67.1
decorator~=4.4.2
urllib3~=2.3.0
chardet~=3.0.4
darkdetect~=0.8.0
filelock~=3.17.0
python-dotenv==1.0.1
cryptography==44.0.0
pytest==8.3.4
